streamlit
torch
langchain_huggingface
faiss-cpu
langchain_community
langchain_text_splitters
langchain_community
langchain
python-dotenv
langchain_ollama
langchain_openai
langchain-groq
py-localtunnel
pypdf
sentence-transformers
huggingface-hub